@font-face {
  font-family: "Galada";
  src: url("/fonts/Galada.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #a06cd5;
  --secondary-color: #fb8e5d;
  --accent-color: #513072;
  --background-color: #f4f4f2;
  --white-color: #fff;
  --light-gray: #dddddd;
  --gray: #808080;
  --gray-dark: #313131;
  --error: tomato;
  --valid: limegreen;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f4f4f2;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fb8e5d;
}
